.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  margin: 2vw;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  padding-top: 0px;
}

.container-children {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-children.left {
  align-items: flex-start;
}

.container-children.center {
  align-items: center;
}

.container-children.right {
  align-items: flex-end;
}

.container-children.vertical {
  flex-direction: column;
}

.container-children.horizontal {
  flex-direction: row;
}

.container.left {
  text-align: left;
}

.container.center {
  text-align: center;
}

.container.right {
  text-align: right;
}



